<div class="fh5co-narrow-content">
    <div class="row">
      <div class="col-md-5">
        <app-onama-pipes></app-onama-pipes>
      </div>
      <div>
        <img src="assets/images/git1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive"> 
      </div>
    </div>
    
  </div>

  <div class="fh5co-narrow-content">
     <p style="text-align: center;margin-left: -70px;font-size: 35px;">Tim</p>
    <div class="row" [@scrollAnimation]="state">
      <div class="col-md-4 fh5co-staff">
        <img src="assets/images/me1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        <h3>Mladen Karić</h3>
        <h4>Glavni tehničar</h4>
     
        <ul class="fh5co-social">
          <li><a href="https://www.linkedin.com/in/mladen-karic/"><i class="icon-linkedin"></i></a></li>
          <li><a href="https://www.facebook.com/mladen.skyhunter"><i class="icon-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/giomlly/"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4 fh5co-staff">
        <img src="assets/images/ml.png" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        <h3>Miloš Lazarević</h3>
        <h4>Asistent tehničar</h4>
        
        <ul class="fh5co-social">
          <li><a href="#"><i class="icon-linkedin"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4 fh5co-staff">
        <img src="assets/images/nm.png" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        <h3>Nikola Mihailović</h3>
        <h4>Izrada šema</h4>
       
        <ul class="fh5co-social">
          <li><a href="#"><i class="icon-linkedin"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
 
      
  </div>
  </div>