<div class="fh5co-testimonial" >
    <div class="fh5co-narrow-content" [@scrollAnimation]="state">
         <div>
            <div class="item">
              <figure>
                <img  src="assets/images/jimi.png" alt="Free HTML5 Bootstrap Template">
              </figure>
                <p  class="text-center quote">&ldquo;Nekada želite da ostavite gitaru, mrzećete gitaru. Ali ako istrajete, bićete nagrađeni.
                  &rdquo; <cite class="author">&mdash; Jimi Hendrix</cite></p>
            </div>
            <div class="item">
              <figure>
                <img src="assets/images/trem.png" alt="Free HTML5 Bootstrap Template">
              </figure>
                <p class="text-center quote">&ldquo;Želim da mi gitara zvuči zlobno.
                &rdquo;<cite class="author">&mdash; Mark Tremonti</cite></p>
            </div>
            <div class="item">
              <figure>
                <img src="assets/images/zakk.png" alt="Free HTML5 Bootstrap Template">
              </figure>
                <p class="text-center quote">&ldquo;Imate ljude koji jedino žele da budu poznati, a onda imate prave muzičare koji jednostavno vole da sviraju.
                  &rdquo;<cite class="author">&mdash; Zakk Wylde</cite></p>
            </div>
          </div>
  </div>


  <div class="fh5co-narrow-content">
    <h2>Izrada custom gitara po vašoj želji </h2>
    <div class="row">
      <div class="col-md-6">
        <div class="fh5co-feature animate-box" [@scrollAnimation]="state">
          <div class="fh5co-icon">
            <img src="assets/images/13.png" alt="Free HTML5 Bootstrap Template">
          </div>
          <div class="fh5co-text">
            <h3>Ideja</h3>
            <p>Izrada custom gitara na osnovu vaše ideje. Imamo iskustvo u radu sa različitim klijentima
              i iskustvo u izradi najrazličitijih gitara. Predočite nam vašu ideju i mi ćemo izraditi nacrt. </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="fh5co-feature animate-box" [@scrollAnimation]="state">
          <div class="fh5co-icon">
            <img src="assets/images/14.png" alt="Free HTML5 Bootstrap Template">
          </div>
          <div class="fh5co-text">
            <h3>Izrada</h3>
            <p>Izrada od najkvalitetnijih komada mahagonija. Ukoliko imate vaš materijal, ni to nije problem, donesite
              nam i radićemo po vašoj želji što će svakako značiti i manju cenu. </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="fh5co-feature animate-box" [@scrollAnimation]="state">
          <div class="fh5co-icon">
            <img src="assets/images/15.png" alt="Free HTML5 Bootstrap Template">
          </div>
          <div class="fh5co-text">
            <h3>Komunikacija</h3>
            <p>U toku izrade smatramo obaveznim feedback sa obe strane. </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="fh5co-feature animate-box" [@scrollAnimation]="state">
          <div class="fh5co-icon">
            <img src="assets/images/16.png" alt="Free HTML5 Bootstrap Template">
          </div>
          <div class="fh5co-text">
            <h3>Proizvod</h3>
            <p> U kvalitet naših proizvoda možete se uveriti pregledom naših dosadašnjih izrađenih gitara. </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="fh5co-cards">
    <div class="fh5co-narrow-content">
      <h2>Misija i vizija</h2>

      <div class="fh5co-flex-wrap">
        <div>
          <p>Oduvek sam smatrao da pravi muzičari zaslužuju prave instrumente. Moja misija je da svoju strast ka muzici usmerim ka instrumentu, i da on bude najbolji mogući. Smatram da je uvek moguće uraditi bolje, i time se i vodim, i zato želim da baš Vaš sledeći instrument bude upravo i najbolji koji ste svirali.</p>
          <p>Bilo da već imate ideju šta želite, bilo da želite da zajedno pronađemo vaš zvuk, budite sigurni da kompromise nećemo praviti. A to isto očekujem i od vas kada dobijete gotovu gitaru, da bez kompromisa ostavite svoj muzički potpis u vremenu.</p>
        </div>
        
      </div>	
      
    </div>
  </div>
 

